<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Pages</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let book of firestore.books">
        <tr >
            <td>{{book.Title}}</td>
            <td>{{book.Author}}</td>
            <td>{{book.YearOfPublication}}</td>
            <td>{{book.Genre}}</td>
            <td>{{book.Pages}}</td>
            <td><button type="button" class="btn btn-info  btn-circle">Modify<i class="fa fa-check"></i></button></td>
            <td><button type="button" class="btn btn-danger  btn-circle">Delete<i class="fa fa-check"></i></button></td>
            <td><button type="button" class="btn btn-danger  btn-circle">Download<i class="fa fa-check"></i></button></td>
        </tr>

    </tbody>
</table>

