<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Pages</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let book of firestore.books">
        <tr >
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.yearofpublication}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.pages}}</td>
            <td><button type="button" class="btn btn-info  btn-circle" (click)="routeModify(book)">Modify<i class="fa fa-check"></i></button></td>
            <td><button type="button" class="btn btn-danger  btn-circle" (click)="deleteBook(book)">Delete<i class="fa fa-check"></i></button></td>
            <td><button type="button" class="btn btn-danger  btn-circle" >Download<i class="fa fa-check"></i></button></td>
        </tr>

    </tbody>
</table>

