
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Pages</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let book of books">
        <tr >
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.yearofpublication}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.pages}}</td>
            <td><button mat-flat-button (click)="routeModify(book)" color="primary">
                <mat-icon>edit</mat-icon>
            </button></td>

            <td><button mat-flat-button (click)="downloadBook(book)" color="accent">
                <mat-icon>download</mat-icon>
            </button></td>

            <td><button mat-flat-button (click)="deleteBook(book)" color="warn">
                <mat-icon>delete</mat-icon>
            </button></td>
        </tr>

    </tbody>
</table>

