<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom ">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <a class="d-flex align-items-center text-dark text-decoration-none">
            <div class="header-div ">
                <div class="header-left">
                    <img routerLink="/" src="../../assets/imgs/logo.png" width="80"  class="me-2" viewBox="0 0 118 94" role="img">
                    <span class="fs-4 fw-bold">My Book Collection</span> 
                </div>
                <div class="header-right">
                    <button routerLink="" class="button-48" role="button"><span class="text">Home</span></button>
                    <button routerLink="addBook" class="button-48" role="button"><span class="text">Add Book</span></button>
                </div>  
            </div>
        </a>
    </header>
    
</div>
<router-outlet></router-outlet>
